<a href="https://colab.research.google.com/github/m-ritam/Python-Basics/blob/main/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
#for Loop
for i in range(5):  # 0 to 4
    print("i=",i)
print()
for i2 in range(5,10):  # 5 to 9
    print("i2=",i2)
print()
for i3 in range(0,12,2):  #0 to 10 with gap 2
    print("i3=",i3)

i= 0
i= 1
i= 2
i= 3
i= 4

i2= 5
i2= 6
i2= 7
i2= 8
i2= 9

i3= 0
i3= 2
i3= 4
i3= 6
i3= 8
i3= 10

In [43]:
#Loop through a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [44]:
#Loop through a Char
for char in "hello123":
    print(char)

h
e
l
l
o
1
2
3

In [45]:
#Loop using a Tuple
tuple1 = (10, 20, 30)
for num in tuple1:
    print(num)

10
20
30

In [46]:
#Loop using a dictionary

my_dictionary = {"X": 1, "Y": 2, "Z": 3}  # Key : value

for key_name in my_dictionary: #if only dictionary name mentioned its for Key
    print(key_name)
print()
for value_name in my_dictionary.values():
    print(value_name)
print()
for key_name, value_name in my_dictionary.items():
    print(key_name, value_name)

X
Y
Z

1
2
3

X 1
Y 2
Z 3

In [47]:
#Loop using a set

my_set = {1, 2, 3, 4}
for num in my_set:
    print(num)

1
2
3
4

In [48]:
#Looping Over Multiple Iterables
names = ["Rohit", "Virat", "Dhoni"]
centuries = [30, 50, 10]

for player, century100 in zip(names, centuries):
    print(player, century100)

Rohit 30
Virat 50
Dhoni 10