<a href="https://colab.research.google.com/github/m-ritam/Python-Basics/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print every elemnt in list
xlist=[10,20,30,40,50,60,'ok']
for i in xlist:
  print(i)

In [1]:
L1={'a':1,'b':2}
print(L1)

{'a': 1, 'b': 2}

In [ ]:
xlist=[10,20,30,40,50,60]
y=sum(xlist)
print(y)

210

In [ ]:
L1=[10,20,30,40,50,60,'ok']
print(L1)
print(L1[4])
print(L1[6])
L1[1]='j' #replace a list element
print(L1)

In [ ]:
L1=[10,20,30,40,50,60,'ok']
del L1[3]
print(L1)

In [ ]:
L1=[10,20,30,40,50,60,'ok']
for i in L1:
  print(i)

In [ ]:
my_list = [7,1, 2, 2, 3, 3, 4, 5, 5]
new_list = []
for i in my_list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[7, 1, 2, 3, 4, 5]

In [ ]:
my_list = [7,1, 2, 2, 3, 3, 4, 5, 5]
new_list = []
for i in my_list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

In [ ]:
L1=[10,20,30,40,50,60,'ok']
for i in range (len(L1)):
  print(i)

In [ ]:
xlist=[10,20,30,40,50,60,'ok']
xlist.append(4)
xlist.append(9)
xlist.append(30)
xlist.append(39)
print(xlist)
# insert at exact space like 2nd place for 2
xlist.insert(2,29)
print(xlist)
# how many times a specific int is in list
print(xlist.count(30))

[10, 20, 30, 40, 50, 60, 'ok', 4, 9, 30, 39]
[10, 20, 29, 30, 40, 50, 60, 'ok', 4, 9, 30, 39]
2

In [ ]:
xlist=[10,20,30,40,50,60,'ok']
xlist.remove(30)
print(xlist)
xlist.reverse()
print(xlist)

In [ ]:
xlist=[10,20,30,40,50,60,'ok']
xlist.remove(20)
print(xlist)

[10, 30, 40, 50, 60, 'ok']

In [ ]:
xlist=[10,20,30,40,50,60,'ok']
xlist.reverse()
y=xlist
print(xlist)
print(y)

['ok', 60, 50, 40, 30, 20, 10]
['ok', 60, 50, 40, 30, 20, 10]

In [ ]:
xlist=[10,20,30,40,50,60,70,4,18]
# ascending order
xlist.sort()
print(xlist)

In [ ]:
xlist=[10,20,30,40,50,60,'ok']
# pop remove a element with index
xlist.pop(2)
print(xlist)

[10, 20, 40, 50, 60, 'ok']

In [ ]:
xlist=[10,20,30,40,50,60,"ok"]
xlist.remove('ok')
print(xlist)

In [ ]:
L=[100, 20, 8, 100, 13, 20, 5, 6, 90, 77, 4, 29, 33, 21,-88, -15, 4,6, 77, 100]
d=0
e=3

if L[d]==L[e]:
  L.pop(e)
  print(L)

In [ ]:
L=[100, 20, 8, 100, 13, 20, 5, 6, 90, 77, 4, 29, 33, 21,-88, -15, 4,6, 77, 100]
L0=L
print(L.count(100))
#print(L[2])
for j in L:
  if L.count(j)>=2:
    L.remove(j)
print(L)

3
[8, 13, 20, 5, 90, 29, 33, 21, -88, -15, 4, 6, 77, 100]

In [ ]:
# maximum and minimum
xlist=[10,20,30,40,50,60,70]
y=max(xlist)
z=min(xlist)
print(y)
print(z)

70
10

In [ ]:
xlist=[10,20,30,40,50,60,70]
def full_list(xlist):
  for i in xlist:
    print(i)
full_list(xlist)

10
20
30
40
50
60
70

In [ ]:
xlist=[10,20,30,40,50,60,70]
def m_list(LIST):
  empty=[]
  for i in LIST:
    empty.append(i+5)
  return empty
l1=(m_list(xlist))
print(l1)

In [ ]:
# take input of a list
L1=[]
length=int(input('Enter length:'))
for i in range(length):
  n=int(input('Enter :'))
  L1.append(n)
print(L1)

In [ ]:
# Write a python program to compute the sum of odd and even numbers for a given list.
L=[124,43,83,52,89,30,85,]
s1=0
s2=0
for item in L:
  #print(item)
  if item%2==0:
    #print(item,'is EVEN')
    s1=s1+item
  else:
   # print(item,'is ODD')
   s2=s2+item
print('sum even:',s1)
print('sum odd:',s2)

In [ ]:
# 2.  Write a python program to update a list with 10 random integers between the range -50 to
# 500 and compute the average value.
L1=[]
for i in range(10):
  from random import randint
  ran= randint(-50,500)
  L1.append(ran)
#print(empty)
avg = sum(L1)/len(L1)
print('average',avg)

average 237.05

In [ ]:
# 3.  Write a python program to create compute the cube value each element in list L1 an store them in L3
L1=[4,6,90,44,53,11]
L3=[]
for i in L1:
  n=i**3
  #print(n)
  L3.append(n)
print(L3)

In [ ]:
#4.   Compute the factorial of each element of the list, L1 and store the factorial value results into L2.
L1=[2,6,12,9]
L2=[]
for j in L1:
    a=1
    for n in range(1,j+1):
        a=n*a
    L2.append(a)
print(L2)

[2, 720, 479001600, 362880]

In [ ]:
#5.   Write a program to print counter values from 1 to n using a while loop and store them in a list.
n=int(input("n="))
a=0
L=[]
while (a<n):
  a=a+1
  L.append(a)
print(L)

n=6
[1, 2, 3, 4, 5, 6]

In [ ]:
#6.  Write a python program to update a list with 20 random integers between the range 1 to
# 50 and sort them in ascending order.
L1=[]
from random import randint
for i in range(20):
  r=randint(1,50)
  L1.append(r)
  L1.sort()
print(L1)

[1, 11, 12, 13, 13, 16, 18, 22, 23, 25, 29, 29, 29, 34, 34, 38, 45, 46, 46, 48]

In [ ]:
a=[5,8,34,51,25,1,3726856]
a.sort()
print(a)

In [ ]:
L1=[0,1,2,3,4,5,6,7,8,9]
L2=L1[::2]
L3=L1[1::2]
print(L2)
print(L3)

In [ ]:
L1=[12,335,51,6,31]
L2=[143157,58,2473]
print(L1+L2)

[12, 335, 51, 6, 31, 143157, 58, 2473]

In [ ]:
n = int(input("Enter the number of terms in the Fibonacci sequence: "))
#Now  generating first two numbers
a=0;b=1
fibonacci = [a,b]
for i in range(2, n):
    c = a + b
    a = b
    b = c
    fibonacci.append(c)
print("The Fibonacci sequence up until the",n, "th term is:",fibonacci)

Enter the number of terms in the Fibonacci sequence: 8
The Fibonacci sequence up until the 8 th term is: [0, 1, 1, 2, 3, 5, 8, 13]

34