<a href="https://colab.research.google.com/github/m-ritam/Python-Basics/blob/main/strings_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
text_data="ab c"
print(len(text_data))

4

In [5]:
text_data="ab c"
print(text_data.rfind('c')) #find index of 'c' in text_data

3

In [11]:
txt = "Hello, welcome to my world."
print(txt.index("H"))
print(txt.index("o"))
print(txt.index("to"))

0
4
15

In [15]:
text_data="ab #c"
print(text_data.find(' '))
print(type(text_data[2]))

2
<class 'str'>

In [18]:
t1="ABCDEFGH"
print(t1[0])
print(t1[:4])
print(t1[2:4])

A
ABCD
CD

In [23]:
text_da_ta="python programming"
for j1 in text_da_ta:
  print(j1)

p
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g

In [25]:
text_data1="python"
for j in text_data1:
  print(text_data1)

python
python
python
python
python
python

In [26]:
text_data2="python"
for j in text_data2:
  print(text_data2.index(j))

0
1
2
3
4
5

In [27]:
data1= "python programming"
print(data1.index(data1[6]))

6

In [ ]:
def test_message(str_data):
  for j in range(len(str_data)):
    print(str_data[j])
test_data="python 1"
test_message(test_data)

In [ ]:
s1="\10u"
print(s1.isnumeric())

False

In [ ]:
s ="034t56789"
print(s.isnumeric())

In [ ]:
strr1 = "902w"

if strr1[3].isdigit():
    print("User input is an Integer ")
else:
    print("User input is string ")

User input is string

In [ ]:
str1="Data science "
str2="using Python"
def combine_strings(s1,s2):
  print(s1+s2)
combine_strings(str1,str2)

Data science using Python

In [ ]:
str1="Data science "
str2="using Python "
str3="course code 505"
def combine_strings(s1,s2,s3):
  print(s1+s2+s3)
combine_strings(str1,str2,str3)

In [ ]:
m=' hlw '
n='Krea '
print(m+n+"Wlcm")

In [ ]:
# print with %s
name='krea'
user_name="test"
print("Hello %s your profile is: %s" %(name,user_name))

In [ ]:
me="Ritam"
roommate="Allu"
print("Hello I am %s, my roommate is %s."%(me,roommate))
print("Hello I am",me,", my roommate is",roommate,".")

In [ ]:
#format print
name="Ritam"
user="test"
id="123"
print('Hello {} profile: {} ur id is {}'.format(user,name,id))

In [ ]:
data= "python programming"
print(data[0:6])
print(data[-9:-4])
print(data[-15])

In [ ]:
data= "pythonProgramming"
r1=list(data)
print(r1)

In [ ]:
data="string in python"
#print(len(data))
print("string" in data)
print("success" in data)
print(" in python" in data)

In [ ]:
data="string in pythonn"
if 'pythonn' in data:
  print("yes pythonn is there")
else:
  print("no pythonn is not there")

In [ ]:
stock=["Tata","apple"]
stock.append("Tesla")
print(stock[2])
stock.pop(0)
print(stock)

In [ ]:
stock=["Tata","apple","tesla","ageg","ssoahdb","shahidm"]
print(stock)
stock.remove("apple")
print(stock)

In [ ]:
#substring
str=['a','b',['c','x','y','z'],'d']
print(str[2][1:3])

In [ ]:
Session 10 below

In [ ]:
s="am kolaokok ko am I"
n=s.count("a")
print(n)

In [ ]:
text1 = input("Enter a word/sentence/paragraph: ")

acount=0
for i in text1:
    if i == 'a':
        acount += 1

print("The character 'a' occurs", acount, "times")

In [ ]:
# Get input from user
n = int(input("Enter the number of terms in the Fibonacci sequence: "))

# Initialize the first two terms
a, b = 0, 1

# Initialize a list to store the Fibonacci sequence
fib = [a, b]

# Generate the Fibonacci sequence up until the nth term
for i in range(2, n):
    c = a + b
    a = b
    b = c
    fib.append(c)

# Display the Fibonacci sequence
print("The Fibonacci sequence up until the", n, "th term is:")
print(fib)

Enter the number of terms in the Fibonacci sequence: 4
The Fibonacci sequence up until the 4 th term is:
[0, 1, 1, 2]

In [ ]:
#rstrip - elements last empty space
seq=['gjk','hqog','yqp','apssn','jhsnm','ATYSU']
test='Hello  World   '
L=list(test)
print(L)
L_new=list(test.rstrip())
print(L_new)

In [ ]:
def APPLYTOEACH(L,f):
  for i in range(len(L)):
    L[i]=f(L[i])
    print("L[",i,"]=",L[i])
  return L

L=[1,-23,4.56]
print(APPLYTOEACH(L,abs))

In [ ]:
def facto(n):
  result=1
  while n>1:
    result=result*n
    n=n-1
  return result
def APPLYTOEACH(L,f):
  for i in range(len(L)):
    L[i]=facto(L[i])
    print("L[",i,"]=",L[i])
  return L

L=[1,-23,5]
print(L)
print(APPLYTOEACH(L,abs))

In [ ]:
#string practice question session 8
#3
#Below is the currency conversion table for INR to world currencies
#1 USD = 82.5252682
#1 EUR = 88.2805919
#1 GBP = 99.8015844
#1 AED = 22.4519031
#1 SAR = 21.9817856
#Write a python function to convert an input world currency to INR.
def cur_to_INR(curr,a):
  if curr=="USD":
    INR=a*82.5252682
  elif curr=="EUR":
    INR=a*88.2805919
  elif curr=="GBP":
    INR=a*99.8015844
  elif curr=="AED":
    INR=a*22.4519031
  elif curr=="SAR":
    INR=a*21.9817856
  else:
    print("Not correct code for currency")
  print("In Indian Currency %s %s = %s"%(a,curr,INR))

amount=int(input("Enter amount:"))
currency=input("Enter Currency type between: USD,EUR,GBP,AED,SAR :")
cur_to_INR(currency,amount)