<a href="https://colab.research.google.com/github/m-ritam/Python-Basics/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
t1=(1,'to',3)
t2=(t1,5.32,45,401,23,52,6)
print(t1)
#t2[1]=9 #cant insert into TUPLE
print(t2)

(1, 'to', 3)
((1, 'to', 3), 5.32, 45, 401, 23, 52, 6)

In [18]:
t1=(1,'to',3)
t2=('tg',50,'op')
T=(t1+t2)
print(T) #adding two tupple
print(T[5])
print(T[2:])

(1, 'to', 3, 'tg', 50, 'op')
op
(3, 'tg', 50, 'op')

In [15]:
t1=(107,'to',3,('tg',50,'op'))

print(t1[3][0:7])

('tg', 50, 'op')

In [21]:
t1=(1,'ty',22)
t2=(213,'y7',9)
print(t1+t2)
temp=t1+t2
print(temp[2],temp[5])
print(temp[2:5])

(1, 'ty', 22, 213, 'y7', 9)
22 9
(22, 213, 'y7')

In [23]:
t1=(12,98,7,654,3,23,45,6,65)
print(sum(t1))

913

In [24]:
# Prompt the user for input and store it in a tuple
#for i in range(3):
t = tuple(input("Enter values separated by spaces: "))

# Print the tuple
print("Tuple:", t)

Enter values separated by spaces: 6
Tuple: ('6',)